[submodule "site/themes/tranquilpeak"]
	path = site/themes/tranquilpeak
	url = git@github.com:yogendra/hexo-theme-tranquilpeak.git
[submodule "themes/tranquilpeak"]
	path = themes/tranquilpeak
	url = git@github.com:yogendra/hexo-theme-tranquilpeak.git
